<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.code.admin.mapper.PermissionUrlMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="cn.com.code.admin.api.model.PermissionUrlModel">
		<id column="ID" property="id" />
		<result column="ROLE" property="role" />
		<result column="METHOD" property="method" />
		<result column="URL" property="url" />
		<result column="IS_DELETE" property="isDelete" />
	</resultMap>

</mapper>
