<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.code.admin.mapper.UserMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="cn.com.code.admin.api.model.UserModel">
		<id column="USER_ID" property="userId" />
		<result column="USER_NAME" property="userName" />
		<result column="TELEPHONE" property="telephone" />
		<result column="PASSWORD" property="password" />
		<result column="STATUS" property="status" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="IS_DELETE" property="isDelete" />
		<result column="NAME" property="name" />
	</resultMap>

	<resultMap id="ResultMap" type="cn.com.code.admin.api.model.UserModel" extends="BaseResultMap">
		<collection property="roleModels" ofType="cn.com.code.admin.api.model.RoleModel">
			<id column="ROLE_ID" property="roleId" />
			<result column="ROLE_NAME" property="roleName" />
			<result column="REMARK" property="remark" />
			<result column="PARENT_ID" property="parentId" />
		</collection>

	</resultMap>

	<select id="selectUserModel" resultMap="ResultMap">
		SELECT
			U.*,R.*
		FROM
			TB_USER U
			LEFT JOIN TB_USER_ROLE UR
				ON U.USER_ID = UR.USER_ID
					AND UR.IS_DELETE = '0'
			LEFT JOIN TB_ROLE R
				ON UR.ROLE_ID = R.ROLE_ID
					AND R.IS_DELETE = '0'
		WHERE U.IS_DELETE = '0' ${ew.sqlSegment}
	</select>


</mapper>
