package ${package.Controller};
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.DeleteMapping;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.ModelAttribute;
import org.springframework.web.bind.annotation.PathVariable;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.PutMapping;
import org.springframework.web.bind.annotation.RequestBody;
import org.springframework.web.bind.annotation.RestController;
import cn.com.geostar.common.log.SystemLog;
import cn.com.geostar.common.beans.Constants;
import cn.com.geostar.common.utils.BasePojoUtils;

import com.baomidou.mybatisplus.mapper.EntityWrapper;
import com.baomidou.mybatisplus.mapper.Wrapper;
import com.baomidou.mybatisplus.plugins.Page;

import cn.com.geostar.common.beans.StandardResult;
import cn.com.geostar.common.beans.PaginationResult;
#if(${superControllerClassPackage})
import ${superControllerClassPackage};
#end

import ${package.Service}.${table.serviceName};
import ${cfg.entityModelPackage}.${entity}Model;

import io.swagger.annotations.Api;
import io.swagger.annotations.ApiImplicitParam;
import io.swagger.annotations.ApiImplicitParams;
import io.swagger.annotations.ApiOperation;
import ${cfg.controllerApiPackage}.I${table.controllerName};
/**
 *　　
 *   ${entity} 控制器    ${table.comment}
 *
 *   @author ${author}
 *   @since ${date}
 */

@RestController
@Api(tags="${table.controllerName} ${table.comment}控制器")
#if(${superControllerClass})
public class ${table.controllerName} extends ${superControllerClass} {
#else
public class ${table.controllerName} implements I${table.controllerName} {
#end
    private final Logger logger = LoggerFactory.getLogger(${table.controllerName}.class);

    @Autowired
    public ${table.serviceName} ${table.entityPath}Service;

    /**
     * 获取分页列表
     *
     * @author : ${author}
     * @since : Create in ${date}
     */
    @Override
    @SystemLog(descrption = "获取分页列表", type = "查询", systemCode =Constants.SYSTEM_MODELCODE_ADMIN, modelName ="xxx管理")
    @ApiOperation(value="获取分页列表  ${author}", notes="获取分页列表  ${author}", response = ${entity}Model.class)
    @ApiImplicitParams({
        @ApiImplicitParam(paramType = "query", name = "accessToken", value = "令牌", required = true, dataType = "String"),
        @ApiImplicitParam(paramType="query", name = "pageSize", value = "每页大小", required = true, dataType = "int", defaultValue = "10"),
        @ApiImplicitParam(paramType="query", name = "pageNumber", value = "页数", required = true, dataType = "int", defaultValue = "1")
    })
    @GetMapping("/${table.entityPath}")
    public StandardResult selectPage(@ModelAttribute ${entity}Model ${table.entityPath}Model, Integer pageSize, Integer pageNumber) {
		try {
			if (pageSize == null || pageNumber == null) {
				return StandardResult.faildCheck("缺少必要的分页参数！");
			}
	     	Page<${entity}Model> page = new Page<${entity}Model>(pageNumber, pageSize);
	     	Wrapper<${entity}Model> wrapper = new EntityWrapper<${entity}Model>(${table.entityPath}Model);
	     	${table.entityPath}Service.selectPage(page, wrapper);
			return PaginationResult.ok(null, page.getRecords(), page.getTotal(), page.getPages());
		} catch (Exception e) {
			logger.error("异常信息:", e);
			return PaginationResult.faild(e);
		}
    }

	/**
     * 获取列表
     *
     * @author : ${author}
     * @since : Create in ${date}
     */
    @Override
    @SystemLog(descrption = "获取列表", type = "查询", systemCode =Constants.SYSTEM_MODELCODE_ADMIN, modelName ="xxx管理")
    @ApiOperation(value="获取列表  ${author}", notes="获取列表  ${author}", response = ${entity}Model.class)
    @ApiImplicitParams({
        @ApiImplicitParam(paramType = "query", name = "accessToken", value = "令牌", required = true, dataType = "String")
    })
    @GetMapping("/${table.entityPath}List")
    public StandardResult selectList(@ModelAttribute ${entity}Model ${table.entityPath}Model) {
		try {
			Wrapper<${entity}Model> wrapper = new EntityWrapper<${entity}Model>(${table.entityPath}Model);
			return StandardResult.ok(null, ${table.entityPath}Service.selectList(wrapper));
		} catch (Exception e) {
			logger.error("异常信息:", e);
			return StandardResult.faild(e);
		}
    }

     /**
               * 添加
      *
     * @author : ${author}
     * @since : Create in ${date}
     */
    @Override
    @SystemLog(descrption = "添加", type = "添加", systemCode =Constants.SYSTEM_MODELCODE_ADMIN, modelName ="xxx管理")
    @ApiOperation(value = "添加  ${author}", notes = "添加${entity} ${author}", response = ${entity}Model.class)
    @ApiImplicitParam(paramType = "query", name = "accessToken", value = "令牌", required = true, dataType = "String")
    @PostMapping("/${table.entityPath}")
    public StandardResult insert(@ModelAttribute ${entity}Model ${table.entityPath}Model) {
		try {
            BasePojoUtils.setInsertBasePojo(${table.entityPath}Model);
            ${table.entityPath}Service.insert(${table.entityPath}Model);
            return StandardResult.ok();
        } catch (Exception e) {
            logger.error("异常信息:", e);
            return StandardResult.faild(e);
        }
    }

    /**
         * 修改
     *
     * @author : ${author}
     * @since : Create in ${date}
     */
    @Override
    @SystemLog(descrption = "修改", type = "修改", systemCode =Constants.SYSTEM_MODELCODE_ADMIN, modelName ="xxx管理")
    @ApiOperation(value="修改  ${author}", notes="更新${entity} ${author}", response = ${entity}Model.class)
    @ApiImplicitParam(paramType = "query", name = "accessToken", value = "令牌", required = true, dataType = "String")
    @PutMapping("/${table.entityPath}")
    public StandardResult updateById(@RequestBody ${entity}Model ${table.entityPath}Model) {
        try {
            ${table.entityPath}Service.updateById(${table.entityPath}Model);
            return StandardResult.ok();
        } catch (Exception e) {
            logger.error("异常信息:", e);
            return StandardResult.faild(e);
        }
    }

    /**
        * 通过id获取详情
     *
     * @author : ${author}
     * @since : Create in ${date}
     */
    @Override
    @SystemLog(descrption = "通过id获取详情", type = "查询", systemCode =Constants.SYSTEM_MODELCODE_ADMIN, modelName ="xxx管理")
    @ApiOperation(value="通过id获取详情  ${author}", notes="通过id获取详情  ${author}", response = ${entity}Model.class)
    @ApiImplicitParams({
    	@ApiImplicitParam(paramType = "query", name = "accessToken", value = "令牌", required = true, dataType = "String"),
    	@ApiImplicitParam(paramType="path", name = "id", value = "主键id", dataType = "String", required = true)
    })
    @GetMapping("/${table.entityPath}/{id}")
    public StandardResult selectById(@PathVariable String id) {
		try {
		     return StandardResult.ok(${table.entityPath}Service.selectById(id));
		} catch (Exception e) {
		     logger.error("异常信息:", e);
		     return StandardResult.faild(e);
		}
    }

    /**
     * 通过id删除数据
     *
     * @author : ${author}
     * @since : Create in ${date}
     */
    @Override
    @SystemLog(descrption = "通过id获取删除数据", type = "删除", systemCode =Constants.SYSTEM_MODELCODE_ADMIN, modelName ="xxx管理")
    @ApiOperation(value="通过id删除数据  ${author}", notes="通过id删除数据  ${author}", response = ${entity}Model.class)
    @ApiImplicitParams({
    	@ApiImplicitParam(paramType = "query", name = "accessToken", value = "令牌", required = true, dataType = "String"),
     	@ApiImplicitParam(paramType="path", name = "id", value = "主键id", dataType = "String", required = true)
    })
    @DeleteMapping("/${table.entityPath}/{id}")
    public StandardResult deleteById(@PathVariable String id) {
        try {
            ${table.entityPath}Service.deleteById(id);
            return StandardResult.ok();
        } catch (Exception e) {
            logger.error("异常信息:", e);
            return StandardResult.faild(e);
        }
    }
}
